*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
@media (min-width: 851px)
{
    .main-content{
        height:200px;
        width:100%;
        color:lightslategray;
        text-align: center;
        font-size: 40px;
        line-height: 200px;
    }
    footer{
        background-color:#1d1f20;
        width:100%;
    }
    .sec-1{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding:10px;
        margin: 15px auto;
    }
    .about{
        width:40%
    }
    .sec-1 h2{
        color:lightgray;
        font-size:25px;
    }
    .about p{
        text-align:justify-content;
        color:gray;
        line-height:22px;
        margin-top: 10px;
    }
    a{
        text-decoration: none;
        color:grey;
    }
    a:hover{
        color:orange;
        font-weight: bolder;
    }
    .sec-1 ul{
        list-style: none;
        color:grey;
    }
    .sec-1 ul li{
        padding:4px;
    }
    i{
        padding:3px;
        margin-right:4px;
        size:20px;
    }
    .link1,.link2,.link3{
        margin-left:10px;
    } 
    .link2{
        min-width: 165px;
    }
    .sec-2{
        display: flex;
        justify-content: center;
        font-size:24px;
        margin:15px auto;
    }
    .sec-2 p{
        color: lightgray;
        padding: 10px;
    }
    .sec-2 a{
        color:white;
        background-color: red;
        margin-left:20px;
        padding:5px;
        border-radius: 20px;
        padding:10px;
    }
    .sec-2 a:hover{
        background-color: orangered;
    }
    .sec-3{
        display: flex;
        justify-content: center;
    }
    .sec-3 ul{
        list-style: none;
        margin: 20px;
    }
    .sec-3 ul li{
        display: inline-block;
        width: 60px;
        height: 60px;
        padding:18px;
        background-color: darkgray;
        border-radius: 50%;
        margin: 0px 15px;
    }
    .sec-3 ul li i{
        color:white;
        font-size: 24px;
        text-align:center;
        line-height:20px;  
    }
    .sec-3 ul li:nth-child(1):hover{
        background-color: #3b5999;
    }
    .sec-3 ul li:nth-child(2):hover{
        background-color: #55acee ;
    }
    .sec-3 ul li:nth-child(3):hover{
        background-color: #dd4b39 ;
    }
    .sec-3 ul li:nth-child(4):hover{
        background-color: #0077b5;
    }
    .sec-3 ul li:nth-child(5):hover{
        background-color: #ea4c89;
    }

    .sec-4{
        display:flex;
        justify-content: center;
        background-color: black;
        color:darkgray;
        height: 60px;
        line-height: 40px;
    }
    .sec-4 p::after{
        position: absolute;
        content:'';
        width:0px;
        height:2px;
        display:block;
        right:35.9vw;
        bottom:-28px;
        background-color: orangered;
        transition: 0.3s;
        align-self: center;
    }
    .sec-4 p:hover::after{
        width:27vw;
        background-color: #55acee;
    }
    hr{
        opacity:0.2;
    }
}
@media (min-width: 581px) and (max-width: 850px){
    .main-content{
        height:200px;
        width:100%;
        color:lightslategray;
        text-align: center;
        font-size: 40px;
        line-height: 200px;
    }
    footer{
        background-color:#1d1f20;
        width:100%;
    }
    .sec-1{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding:10px;
        margin: 15px auto;
    }
    .about{
        width:100%;
        margin: 0px 0px 20px 0px;
    }
    .sec-1 h2{
        color:lightgray;
        font-size:25px;
    }
    .about p{
        text-align:justify-content;
        color:gray;
        line-height:22px;
        margin-top: 10px;
    }
    a{
        text-decoration: none;
        color:grey;
    }
    a:hover{
        color:orange;
        font-weight: bolder;
    }
    .sec-1 ul{
        list-style: none;
        color:grey;
    }
    .sec-1 ul li{
        padding:4px;
    }
    i{
        padding:3px;
        margin-right:4px;
        size:20px;
    }
    .sec-2{
        display: flex;
        justify-content: center;
        font-size:24px;
        margin:15px auto;
    }
    .sec-2 p{
        color: lightgray;
        padding: 10px;
    }
    .sec-2 a{
        color:white;
        background-color: red;
        margin-left:20px;
        padding:5px;
        border-radius: 20px;
        padding:10px;
    }
    .sec-2 a:hover{
        background-color: orangered;
    }
    .sec-3{
        display: flex;
        justify-content: center;
    }
    .sec-3 ul{
        list-style: none;
        margin: 20px;
    }
    .sec-3 ul li{
        display: inline-block;
        width: 60px;
        height: 60px;
        padding:18px;
        background-color: darkgray;
        border-radius: 50%;
        margin: 0px 15px;
    }
    .sec-3 ul li i{
        color:white;
        font-size: 24px;
        text-align:center;
        line-height:20px;  
    }
    .sec-3 ul li:nth-child(1):hover{
        background-color: #3b5999;
    }
    .sec-3 ul li:nth-child(2):hover{
        background-color: #55acee ;
    }
    .sec-3 ul li:nth-child(3):hover{
        background-color: #dd4b39 ;
    }
    .sec-3 ul li:nth-child(4):hover{
        background-color: #0077b5;
    }
    .sec-3 ul li:nth-child(5):hover{
        background-color: #ea4c89;
    }

    .sec-4{
        display:flex;
        justify-content: center;
        background-color: black;
        color:darkgray;
        height: 60px;
        line-height: 40px;
    }
    .sec-4 p::after{
        position: absolute;
        content:'';
        width:0px;
        height:2px;
        display:block;
        right:35.9vw;
        bottom:-28px;
        background-color: orangered;
        transition: 0.3s;
        align-self: center;
    }
    .sec-4 p:hover::after{
        width:27vw;
        background-color: #55acee;
    }
    hr{
        opacity:0.2;
    }
}
@media (max-width: 580px){
    .main-content{
        height:200px;
        width:100%;
        color:lightslategray;
        text-align: center;
        font-size: 40px;
        line-height: 200px;
    }
    footer{
        background-color:#1d1f20;
        width:100%;
    }
    .sec-1{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding:10px;
        margin: 15px auto;
    }
    .about{
        width:100%;
        margin-bottom: 20px;
    }
    .sec-1 h2{
        color:lightgray;
        font-size:25px;
    }
    .about p{
        text-align:justify-content;
        color:gray;
        line-height:22px;
        margin-top: 10px;
    }
    a{
        text-decoration: none;
        color:grey;
    }
    a:hover{
        color:orange;
        font-weight: bolder;
    }
    .sec-1 ul{
        list-style: none;
        color:grey;
    }
    .sec-1 ul li{
        padding:4px;
    }
    i{
        padding:3px;
        margin-right:4px;
        size:20px;
    }
    .link1,.link2,.link3{
        margin-bottom:20px;
    } 
    .sec-2{
        display: flex;
        justify-content: center;
        font-size:24px;
        margin:15px auto;
    }
    .sec-2 p{
        color: lightgray;
        padding: 10px;
    }
    .sec-2 a{
        color:white;
        background-color: red;
        margin-left:20px;
        padding:5px;
        border-radius: 20px;
        padding:10px;
    }
    .sec-2 a:hover{
        background-color: orangered;
    }
    .sec-3{
        display: flex;
        justify-content: center;
    }
    .sec-3 ul{
        list-style: none;
        margin: 20px;
    }
    .sec-3 ul li{
        display: inline-block;
        width: 60px;
        height: 60px;
        padding:18px;
        background-color: darkgray;
        border-radius: 50%;
        margin: 0px 15px;
    }
    .sec-3 ul li i{
        color:white;
        font-size: 24px;
        text-align:center;
        line-height:20px;  
    }
    .sec-3 ul li:nth-child(1):hover{
        background-color: #3b5999;
    }
    .sec-3 ul li:nth-child(2):hover{
        background-color: #55acee ;
    }
    .sec-3 ul li:nth-child(3):hover{
        background-color: #dd4b39 ;
    }
    .sec-3 ul li:nth-child(4):hover{
        background-color: #0077b5;
    }
    .sec-3 ul li:nth-child(5):hover{
        background-color: #ea4c89;
    }

    .sec-4{
        display:flex;
        justify-content: center;
        background-color: black;
        color:darkgray;
        height: 60px;
        line-height: 40px;
    }
    .sec-4 p::after{
        position: absolute;
        content:'';
        width:0px;
        height:2px;
        display:block;
        right:35.9vw;
        bottom:-28px;
        background-color: orangered;
        transition: 0.3s;
        align-self: center;
    }
    .sec-4 p:hover::after{
        width:27vw;
        background-color: #55acee;
    }
    hr{
        opacity:0.2;
    }
}