*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(120deg ,yellow,red);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
}
h1,form{
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 40px;
}

form input,form button{
    padding: 10px;
    border:none;
    font-size: 24px;
    background: white;
    outline: none;
}
form button{
    color: blue;
    background-color: white;
    cursor: pointer;
}
form button:hover{
    background-color: aqua;
}

/* new list added */
.todo-conatiner{
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo-list{
    list-style: none;
    min-width:25vw;
}
.todo{
    background-color: white;
    color: black;
    margin: 8px;
    font-size: 24px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.todo-item{
    flex:1;
    margin: 0px 8px;
}

.check-btn,.delete-btn{
    padding:16px;
    font-size: 16px;
    background-color: rgb(121, 196, 10);
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
}
.delete-btn{
    background-color: orangered;
}

.fa-check, .fa-trash{
    pointer-events: none;
}
.completed{
    text-decoration: line-through;
    opacity: 0.6;
}
